// Colors
$light-primary: #eeeeee;
$primary-text: #212121;
$dark-gray: #424242;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$blue: #007bff;
$white: #fff;

// Elevation (Shadows)
$card-elevation: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 
                0 1px 1px 0 rgba(0, 0, 0, 0.14), 
                0 2px 1px -1px rgba(0, 0, 0, 0.12);

// Spacing
$gap-normal: 16px;

// Fonts
$font-size-primary: 16px;
$font-size-secondary: 14px;